/* Your CSS styles here */
body {
    font-family: Arial, sans-serif;
    background: linear-gradient(400deg, rgb(25, 140, 179), #f46a7f, #ef8172);
    background-size: 210% 210%;
    animation: gradient-animation 18s ease infinite;
    width: 100%;
    text-align: center;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 500px;
    margin: 30px auto;
    background-color: #fff;
    padding: 30px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.695);
}

h1 {
    font-size: 24px;
    margin-bottom: 20px;
}

.task-form {
    display: flex;
    flex-direction: column;
}

input[type="text"], select {
    width: 100%;
    padding: 10px;
    margin: 5px 0;
}

button {
    background-color: #007BFF;
    color: white;
    margin-top: 5px;
    padding: 10px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #088848;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

li {
    background-color: #f8ffdc;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ddd;
    border-radius: 5px;
}

span {
    color: green;
    font-weight: bold;
    margin-left: 10px;
}

